<section class="service">
    <div class="container-without-flex">
        <h2 class="section__title">SERVICE</h2>
        <h3 class="service__subtitle">{{chooseData.title}}</h3>
        <p class="service__text">
            {{chooseData.text}}
        </p>
    </div>
    <div class="container">
        <div *ngFor="let item of chooseUsData" class="choose-us__elem">
            <div class="choose-us__img">
                <img [src]="item.img" alt="image">
            </div>
            <h2 class="choose-us__title">{{item.title}}</h2>
            <p class="choose-us__text">{{item.text}}</p>
        </div>
    </div>
</section>