<header>
    <app-header-cont [headerData]="dataHeader"></app-header-cont>
</header>
<section>
    <div class="container info__cont">
        <div class="project">
            <h2 class="project__title">Project Overview</h2>
            <p class="project__text">
                Online learning with us does not interfere with your daily life. 
                because learning can be done anytime and anywhere. Online learning with 
                us does not interfere with your daily life. because learning can be done
                anytime and anywhere. Online learning with us does not interfere
                with your daily life. because learning can be done anytime and anywhere. 
            </p>
            <div class="project__cont">
                <p class="project__date">July 22 - 2022</p>
                <p class="project__subtitle">
                    Interior Design - Furnitur
                </p>
            </div>
        </div>
        <div class="design">
            <h2 class="design__title">Design Process</h2>
            <p class="design__text1">
                Online learning with us does not interfere with your daily life. 
                because learning can be done anytime and anywhere. Online learning with
                us does not interfere 
                with your daily life. because learning can be done anytime and anywhere.
            </p>
            <p class="design__text2">
                Online learning with us does not interfere with your daily life. 
                because learning can be done anytime and anywhere. Online learning with
                us does not interfere 
                with your daily life. because learning can be done anytime and anywhere.
            </p>
        </div>
    </div>
</section>
<section class="img">
    <div class="container">
        <div class="img__elem1">
            <img src="/assets/img/portfolio-details/01.png" alt="">
        </div>
        <div class="img__elem2">
            <img src="/assets/img/portfolio-details/02.png" alt="">
        </div>
    </div>
    <div class="container">
        <div class="img__elem">
            <img src="/assets/img/portfolio-details/03.png" alt="">
        </div>
    </div>
    <div class="container">
        <div class="img__elem1">
            <img src="/assets/img/portfolio-details/04.png" alt="">
        </div>
        <div class="img__elem2">
            <img src="/assets/img/portfolio-details/05.png" alt="">
        </div>
    </div>
</section>