<header>
    <app-header-cont [headerData]="dataHeader"></app-header-cont>
</header>
<!-- achievement -->
<section class="achievement">
    <div class="container-without-flex">
        <h2 class="section__title">ACHIEVEMENT</h2>
        <h3 class="section__subtitle">
            interior customization with Danaanz, best quality with professional workers
        </h3>
    </div>
    <div class="container">
        <div class="achievement__img">
            <img src="/assets/img/about/02.png" alt="image">
        </div>
        <div class="inform_block">
            <div class="inform_item">
                <p class="inform_number">350+</p>
                <p class="inform_text">Project Completed</p>
            </div>
            <div class="inform_item">
                <p class="inform_number">23+</p>
                <p class="inform_text">Professional Teams</p>
            </div>
            <div class="inform_item inform_item__margin0">
                <p class="inform_number">15+</p>
                <p class="inform_text">Years Experience</p>
            </div>
        </div>
    </div>
</section>
<!-- service -->
<app-serviice></app-serviice>






