<form [formGroup]="form3">
  <button mat-icon-button class="custom-button" class="close-button" (click)="close()">
    X
  </button>
  <p></p>
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Ex. Jenny Wilson" #name   formControlName="name" >
  </mat-form-field><br>
  <img [src]="imgSrc" alt="Author image" *ngIf="!sendingData"><br>
  <mat-form-field class="example-full-width">
    <mat-label>Profession</mat-label>
    <input matInput placeholder="Ex. Content Writer @Company" #profession 
      formControlName="text" >
  </mat-form-field><br>
  <button mat-icon-button class="custom-button"
    *ngIf="!sendingData" type="button" (click)="saveChanges(name, profession)">
    Save Changes
  </button>
  <button mat-icon-button class="custom-button" 
    *ngIf="sendingData" type="button" (click)="create(name, profession)">
    Create
  </button>
</form>